/*Modularizacion SCSS*/
/*******CUSTOM PROPERTIES******/
/*ColorsArray*/
/******Reseteo global de etiquetas***********/
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

img,
audio,
video,
iframe,
canvas,
svg,
picture {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

/*MIXIN... gran funcionalidad de SCSS/SASS.*/
/*******Utilidades*******/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
}

.none {
  display: none;
}

/****HEADER****/
.header {
  position: sticky;
  top: 0;
  padding: 2rem;
  z-index: 999;
  background-color: #fafafa;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.header .container .logo svg {
  margin-top: 0.2rem;
}
.header .container .menu-btn {
  border: 1px solid #2b272f;
}
.header .container .menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 5.6rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  background-color: #2b272f;
  background-image: url(/FrontendMentor8/assets/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: 0% 85%;
  pointer-events: none;
}
.header .container .menu__enlace {
  min-width: 300px;
  padding: 0.8rem 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--step-0);
  color: #fafafa;
  transition: outline 2s;
}
.header .container .menu__enlace:hover {
  outline: 2px solid #fafafa;
}
.header .container .menu__enlace--border {
  outline: 2px solid #fafafa;
}
.header .container .is-active {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 64em) {
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .logo svg {
    width: 150px;
  }
  .header .container .menu-btn {
    display: none;
  }
  .header .container .menu {
    height: 2rem;
    position: static;
    padding: 0;
    background-color: inherit;
    background-image: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2rem;
    opacity: 1;
    pointer-events: auto;
  }
  .header .container .menu__enlace {
    min-width: 80px;
    padding: 0.7rem 1.2rem;
    color: #837d87;
    font-size: 0.9rem;
    transition: background-color 1.2s ease;
  }
  .header .container .menu__enlace:hover {
    color: #fafafa;
    background-color: #2d2640;
  }
  .header .container .menu__enlace--border {
    outline: 2px solid #2d2640;
  }
}
.human {
  background-color: #2d2640;
}
.human .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.human .container .info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem 2rem;
  text-align: center;
  color: #fafafa;
  font-size: var(--step-1);
}
.human .container .info .hr {
  display: none;
}
.human .container .info__title {
  font-family: "DM Serif Display", serif;
}
.human .container .info__paragraph {
  line-height: 1.5rem;
  font-size: var(--step--2);
}
.human .container .info__btn {
  margin-top: 0.5rem;
  padding: 0.7rem 2rem;
  color: #fafafa;
  border: 1px solid #fafafa;
  font-weight: bold;
  background-color: inherit;
  text-transform: uppercase;
  transition: background-color 1.2s ease;
}
.human .container .info__btn:hover {
  color: #2d2640;
  background-color: #fafafa;
}
.human .container .info__img-left {
  position: absolute;
  top: 0;
  left: 0;
}
.human .container .info__img-right {
  position: absolute;
  bottom: -200px;
  right: 0;
}

@media screen and (min-width: 64em) {
  .human {
    position: relative;
  }
  .human .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .human .container .img {
    position: absolute;
    right: 140px;
    top: 6.5rem;
  }
  .human .container .img img {
    width: 100%;
    height: 70vh;
  }
  .human .container .info {
    position: static;
    padding: 6rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
  }
  .human .container .info .hr {
    display: block;
    width: 13%;
    margin-left: 0;
    color: wheat;
  }
  .human .container .info__title {
    padding-top: 1rem;
    line-height: 3.7rem;
    font-size: var(--step-5);
  }
  .human .container .info__paragraph {
    max-width: 47%;
    font-size: var(--step--2);
  }
  .human .container .info__img-left {
    top: 400px;
  }
  .human .container .info__img-right {
    top: -100px;
  }
}
.different {
  padding: 6rem 2rem;
}
.different .different-container .header-container__hr {
  max-width: 45%;
  margin-bottom: 2rem;
  border-color: #2d2640;
}
.different .different-container .header-container__title {
  margin-bottom: 3rem;
  font-weight: 100;
  font-size: var(--step-4);
  font-family: "DM Serif Display", serif;
  color: #2b272f;
  text-align: center;
}
.different .different-container .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  gap: 1rem;
}
.different .different-container .card-container__title {
  font-size: var(--step-1);
  color: #2b272f;
}
.different .different-container .card-container__paragraph {
  line-height: 1.5rem;
  text-align: center;
  color: #837d87;
}

@media screen and (min-width: 64em) {
  .different {
    margin-top: 5rem;
  }
  .different .different-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .different .different-container .header-container {
    grid-column: 1/4;
  }
  .different .different-container .header-container__hr {
    max-width: 10%;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .different .different-container .header-container__title {
    text-align: justify;
    margin-bottom: 2rem;
  }
  .different .different-container .card-container {
    align-items: flex-start;
  }
  .different .different-container .card-container__img {
    margin-bottom: 1rem;
  }
  .different .different-container .card-container__paragraph {
    text-align: justify;
  }
}
.work .container-work {
  position: relative;
  margin: 0 2rem;
  padding: 5rem 2rem;
  text-align: center;
  background-color: #2d2640;
}
.work .container-work__picture {
  position: absolute;
  top: 0;
  right: 0;
}
.work .container-work__title {
  margin-bottom: 1rem;
  font-size: var(--step-3);
  font-family: "DM Serif Display", serif;
  color: #fafafa;
}
.work .container-work__button {
  margin-top: 3.5rem;
  padding: 0.7rem 2rem;
  z-index: 8;
  color: #fafafa;
  border: 1px solid #fafafa;
  font-weight: bold;
  background-color: inherit;
  text-transform: uppercase;
  transition: background-color 1.2s ease;
}
.work .container-work__button:hover {
  color: #2d2640;
  background-color: #fafafa;
}

@media screen and (min-width: 64em) {
  .work .container-work {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20rem;
    margin: 0;
    padding: 3.2rem 2rem;
  }
  .work .container-work__button {
    margin: 0;
  }
  .work .container-work__title {
    text-align: justify;
  }
}
.footer {
  position: relative;
}
.footer .container {
  margin: 6rem 0;
}
.footer .container__picture {
  position: absolute;
  top: 0;
}
.footer .container .networks {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.9rem;
}
.footer .container .networks .networks-icons {
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.footer .container .footer-hr {
  max-width: 85%;
  border-color: #fafafa;
}
.footer .container .information .information-nav {
  margin: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.footer .container .information .information-nav__title {
  margin-bottom: 1.5rem;
  font-size: var(--step--2);
  text-transform: uppercase;
  color: #837d87;
}
.footer .container .information .information-nav__enlace {
  font-size: var(--step--2);
  text-transform: uppercase;
  color: #2d2640;
  font-weight: bold;
  margin: 0.2rem 0;
  transition: opacity 1s ease;
}
.footer .container .information .information-nav__enlace:hover {
  opacity: 0.5;
}

@media screen and (min-width: 64em) {
  .footer {
    margin: 7rem 0;
  }
  .footer .container {
    margin: 0 auto;
  }
  .footer .container__picture {
    left: 0;
  }
  .footer .container .networks {
    padding: 2rem 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .container .networks .networks-icons {
    padding: 0;
  }
  .footer .container .footer-hr {
    max-width: 100%;
  }
  .footer .container .information {
    max-width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .footer .container .information .information-nav {
    margin: 2rem 0;
    align-items: flex-start;
  }
}
/*Este metodo para Textos fluidos me ha gustado utilizar, espero no sea un problema..*/
/*Responsive Fluid Desing*/
/* 
@link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
}

/*# sourceMappingURL=main.css.map */
