.img-border {
  width: 2.3rem;
  border: 1px solid $White;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}
.color-text {
  color: $Cyan;
}
.color-text2 {
  color: $Soft-blue;
}
