.accessible {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__info {
    padding: 1rem;
    .contenido {
      text-align: center;
      &__title {
        font-size: var(--step-2);
        color: $Very-Dark-Blue;
      }
      &__paragraph {
        margin-top: 2rem;
        line-height: 1.5rem;
        font-size: var(--step--1);
        color: $Very-Dark-Blue;
      }
    }
    .form {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      &__date {
        height: 3rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        font-size: var(--step--2);
        border-radius: 2px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &::placeholder {
          color: $Light-Gray;
        }
      }
      &__btn {
        height: 3rem;
        border: none;
        cursor: pointer;
        font-size: var(--step--1);
        background-color: $Bright-Blue;
        color: $Light-Grayish-Blue;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:hover {
          background-color: hsl(224, 93%, 68%);
        }
      }
    }
  }
}
@media screen and (min-width: 60em) {
  .accessible {
    height: 100%;
    flex-direction: row-reverse;
    &__img {
      width: 80%;
      margin-left: 4rem;
      img {
        height: 30rem;
      }
    }
    &__info {
      width: 72%;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .contenido {
        text-align: left;
        &__paragraph {
          width: 90%;
          font-size: 17px;
        }
      }
      .form {
        width: 90%;
        gap: 1rem;
        padding: 0;
        flex-direction: row;
        &__date {
          flex-grow: 3;
        }
        &__btn {
          flex-grow: 1;
        }
      }
    }
  }
}
