html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Fraunces", serif;
  font-size: 18px;
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

* {
  padding: 0;
  margin: 0; }

body {
  height: 100vh;
  overflow-x: hidden;
  min-width: 360px; }

img {
  max-width: 100%;
  height: auto;
  /*Object-fit:cover*/ }

a {
  text-decoration: none;
  border: none; }

@media screen and (max-width: 540px) {
  html {
    font-size: 14px; } }

.header-cont {
  max-width: 1440px;
  height: 100vh;
  background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header-cont .header-nav {
    height: 5rem;
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-cont .header-nav .header-enlaces {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-cont .header-nav .header-enlaces a {
        margin-right: 1rem;
        text-align: center;
        width: 6rem;
        padding: 0.5rem;
        border-radius: 10rem;
        color: white;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .header-cont .header-nav .header-enlaces a:hover {
        color: #23303e;
        background-color: white; }
  .header-cont .header-hero-text {
    margin-top: 5rem;
    text-align: center; }
    .header-cont .header-hero-text h1 {
      color: white;
      letter-spacing: 0.6rem;
      font-size: 4rem;
      margin-bottom: 4rem; }

@media (max-width: 680px) {
  .header-enlaces {
    pointer-events: none;
    opacity: 0; } }

.cards-cont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr; }
  .cards-cont .card-cont {
    height: 100%;
    text-align: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem; }
    .cards-cont .card-cont h2 {
      font-size: 1.8rem; }
    .cards-cont .card-cont p {
      font-size: 0.8rem;
      color: #5a636c; }
    .cards-cont .card-cont a {
      border-bottom: 5px solid #fad400; }
    .cards-cont .card-cont .a-2 {
      border-bottom: 5px solid #fe7867; }
  .cards-cont article:nth-child(5) {
    background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 2rem;
    padding-bottom: 2rem; }
  .cards-cont article:nth-child(6) {
    background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 2rem;
    padding-bottom: 2rem; }
  .cards-cont .padding {
    width: 60%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

@media (max-width: 850px) {
  .cards-cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; }
    .cards-cont .card-cont p {
      font-size: 1.1rem; }
    .cards-cont .padding {
      width: 100%;
      text-align: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .cards-cont article:nth-child(2) {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; } }

.container-clientss {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .container-clientss .clients-cont {
    height: 60vh;
    width: 90%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 10% 90%;
        grid-template-rows: 10% 90%;
    gap: 1rem; }
    .container-clientss .clients-cont h2 {
      font-size: 1.7rem;
      grid-column: 1 / -1;
      text-align: center;
      color: #a7abae; }
    .container-clientss .clients-cont .client-cont {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .container-clientss .clients-cont .client-cont img {
        height: 4rem;
        border-radius: 50%; }
      .container-clientss .clients-cont .client-cont p {
        color: #5a636c;
        line-height: 1.6rem;
        text-align: center;
        font-size: 0.9rem; }
      .container-clientss .clients-cont .client-cont .client-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .container-clientss .clients-cont .client-cont .client-footer strong {
          margin-bottom: 0.5rem; }
        .container-clientss .clients-cont .client-cont .client-footer small {
          color: #5a636c; }

@media (max-width: 880px) {
  .container-clientss .clients-cont {
    width: 100%;
    margin-top: 4rem;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto;
        grid-template-rows: auto; }
    .container-clientss .clients-cont h2 {
      margin-top: 1rem;
      margin-bottom: 2rem; }
    .container-clientss .clients-cont .client-cont {
      height: 320px;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.contenedor-if {
  width: 100%;
  height: 100vh; }
  .contenedor-if .imgs-cont {
    height: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%; }
    .contenedor-if .imgs-cont .img-cont img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .contenedor-if .footer-cont {
    height: 40vh;
    background-color: #458c7e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contenedor-if .footer-cont .info-cont {
      height: 90%;
      max-width: 450px;
      min-width: 300px;
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .contenedor-if .footer-cont .info-cont .nav-services {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }
        .contenedor-if .footer-cont .info-cont .nav-services a {
          font-size: 1.3rem;
          color: #19536b; }
      .contenedor-if .footer-cont .info-cont .nav-icons {
        cursor: pointer;
        width: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

@media (max-width: 880px) {
  .contenedor-if .imgs-cont {
    margin-top: 25rem;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%; } }
