@import "reseteo..";
@import "variables..";
@import "header..";
@import "cards..";
@import "clients..";

.contenedor-if {
  width: 100%;
  height: 100vh;
  .imgs-cont {
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    .img-cont img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .footer-cont {
    height: 40vh;
    background-color: $Darkmoderatecyan;
    display: flex;
    justify-content: center;
    align-items: center;
    .info-cont {
      height: 90%;
      max-width: 450px;
      min-width: 300px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .nav-services {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        a {
          font-size: 1.3rem;
          color: $Darkblue;
        }
      }
      .nav-icons {
        cursor: pointer;
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 880px) {
  .contenedor-if {
    .imgs-cont {
      margin-top: 25rem;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
    }
  }
}
