/******Reseteo global de etiquetas***********/
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-family: $body;
  overflow-x: hidden;
}
img {
  object-fit: cover;
}
img,
audio,
video,
iframe,
canvas,
svg,
picture {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
