/*******CUSTOM PROPERTIES******/

/*ColorsArray*/
$colors: (
  "black": #000000,
  "white": #ffffff,
  "DarkViolet": #2d2640,
  "GrayishBlue": #95a9c6,
  "VeryViolet": #2b272f,
  "DarksViolet": #837d87,
  "LightGray": #fafafa,
);
$totalwidth: (
  "max-width": 1150px,
);

//Fonts
$headings: "DM Serif Display", serif;
$body: "Karla", sans-serif;
