.work {
  //ContainerPurple
  .container-work {
    position: relative;
    margin: 0 2rem;
    padding: 5rem 2rem;
    text-align: center;
    background-color: map-get($colors, "DarkViolet");
    //LneasFondo
    &__picture {
      position: absolute;
      top: 0;
      right: 0;
    }
    //Titulo
    &__title {
      margin-bottom: 1rem;
      font-size: var(--step-3);
      font-family: $headings;
      color: map-get($colors, "LightGray");
    }
    //Boton
    &__button {
      margin-top: 3.5rem;
      padding: 0.7rem 2rem;
      z-index: 8;
      color: map-get($colors, "LightGray");
      border: 1px solid map-get($colors, "LightGray");
      font-weight: bold;
      background-color: inherit;
      text-transform: uppercase;
      transition: background-color 1.2s ease;
      &:hover {
        color: map-get($colors, "DarkViolet");
        background-color: map-get($colors, "LightGray");
      }
    }
  }
}
//MediaQuerie WORK
@media screen and (min-width: 64em) {
  .work {
    .container-work {
      @include flex($direction: row, $just: space-around);
      gap: 20rem;
      margin: 0;
      padding: 3.2rem 2rem;
      &__button {
        margin: 0;
      }
      &__title {
        text-align: justify;
      }
    }
  }
}
