.btn-pagina {
  padding: 0.7rem 1.7rem;
  color: $White;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    300deg,
    rgba(34, 193, 195, 1) 25%,
    hsl(136, 65%, 51%) 70%
  );
  font-weight: bold;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  &:hover {
    background: rgb(34, 193, 195);
    background: linear-gradient(
      300deg,
      rgb(95, 231, 233) 25%,
      hsl(136, 65%, 75%) 70%
    );
  }
}
